{% extends 'base.html.twig' %}

{% block title %} Détails {% endblock %}

{% block body %}


    <div class="jumbotron">

        <div class="container">

                <div class="col-md-8">

                </div>

                <h1> {{ vetement.title }} </h1>

                    <div class="text-primary" style="font-weight: bold; font-size: 2rem">{{ vetement.prix }} €</div>
                    <a href="#" class="btn btn-primary"> Réserver l'article</a>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            {# Photo du produit #}
            <div class="col-md-8">

        </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Description </h5>
                    <p class="card-text">{{ vetement.description | nl2br }} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h2> Caractéristiques </h2>
                    <table class="table table-striped">
                        <tr>
                            <td> Style </td>
                            <td> {{ vetement.style }} </td>
                        </tr>
                        <tr>
                            <td> Couleur </td>
                            <td> {{ vetement.couleur }} </td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>





{% endblock %}